<h2>All Events</h2>

{% for event in events %}
    <div>
        <h3>{{ event.title }}</h3>
        <p>Date: {{ event.date }}</p>
        <p>Time : {{ event.time }}</p>
        <p>Venue: {{ event.venue }}</p>
        <p>Capacity: {{ event.capacity }}</p>
        <p>{{ event.description }}</p>


        {% if event.id in user_registrations %}
            <button disabled>Joined</button>
        {% else %}
            <a href="{% url 'join_event' event.id %}">
                <button>Join Event</button>
            </a>
        {% endif %}

        <hr>

        
    </div>
    
{% endfor %}
<a href="{% url 'my_events' %}">My Events</a>